<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>

<h1>Event List</h1>
<ul>
  <% events.forEach(event => { %>
    <li>
      <strong><%= event.name %></strong> - <%= new Date(event.date).toDateString() %>
      <a href="/events/edit/<%= event._id %>">Edit</a>
      <a href="/events/delete/<%= event._id %>">Delete</a>
    </li>
  <% }) %>
</ul>
<a href="/events/add">Add a New Event</a>

<%- include ../Partials/footer.ejs %>
